.root {
	background-color: #000;
	margin: 0 auto;
	font-family: "Inter", "open-sans", sans-serif;
}

.page {
	position: relative;
	min-width: 320px;
	max-width: 1280px;
	color: #fff;
	margin: 0 auto;
}

/* HEADER */

.header {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	justify-content: space-between;
	min-height: 74px;
	padding: 40px 0 40px 0;
	max-width: 880px;
}

.header__logo {
	background-image: url(/images/header__logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 142px;
	min-height: 33px;
  cursor: pointer;
}

.header__line {
	max-width: 100%;
	height: 1px;
	background-color: #545454;
}

/* PROFILE */

.container-widget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 880px;
	margin: 0 auto;
  padding: 0 20px;
}

.profile {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: 486px;
}

.profile__avatar {
	min-width: 120px;
	min-height: 120px;
	border-radius: 50%;
	background-image: url(/images/avatar.png);
	margin-right: 30px;
}

.profile__info {
	position: relative;
}

.profile__edit-button {
	position: absolute;
	top: 15px;
	right: -40px;
	background: url(/images/profile__edit-button.svg);
	border: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: opacity 0.1s ease-in;
}

.profile__edit-button:hover {
	opacity: 0.6;
}

.profile__person {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	margin-bottom: 14px;
}

.profile__annotation {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

/* ADD BUTTON */

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
	width: 150px;
	height: 50px;
  /* сделал такой костыль с padding ¯\_(ツ)_/¯  
  flex, inline-block, vertical-align - не помогает */
  padding: 0 0 10px 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
	cursor: pointer;
	transition: opacity 0.1s ease-in;
  font-size: 50px;
  /* sans-serif - чтобы не загружать отдельно 
  начертание шрифта для "+" */
  font-family: sans-serif;
  font-weight: 100;
}

.add-button:hover {
	opacity: 0.6;
}

/* ELEMENTS & ELEMENT */

.elements {
  padding: 0 20px;
	margin: 50px auto 0 auto;
	max-width: 880px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 360px);
	column-gap: 17px;
	row-gap: 20px;
}

.element {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.element__box-image {
	min-height: 282px;
}

.element__image {
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.element__description {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.element__title {
	margin: 0;
	padding: 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin: 0 21px;
	max-width: 190px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.element__like {
	width: 22px;
	height: 19px;
	margin-right: 21px;
  cursor: pointer;
}

.element__like_disabled {
	background: url(/images/element__like_disabled.svg);
  transition: opacity 0.1s ease-in;
}

.element__like_disabled:hover {
  opacity: 0.5;
}

/* FOOTER */

.footer {
  padding: 68px 20px 60px 20px;
	max-width: 880px;
	margin: 0 auto;
}

.footer__copyright {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	color: #545454;
}

/* POPUP */

.popup {
	position: fixed;
  display: none;
  justify-content: center;
	width: 100%;
	height: 100%;
  z-index: 2;
}

.popup_opend {
  display: flex;
}

.popup__overlay {
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.popup__container {
	position: fixed;
	top: 155px;
	display: flex;
	max-width: 470px;
	min-height: 370px;
}

.popup__form {
	box-sizing: border-box;
	padding: 36px;
	align-self: flex-end;
	border-radius: 10px;
	top: 195px;
	width: 430px;
	height: 330px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup__close-button {
	width: 32px;
	height: 32px;
	background: url(/images/popup__close.svg);
	cursor: pointer;
	transition: opacity 0.1s ease-in;
}

.popup__close-button:hover {
	opacity: 0.6;
}

.popup__title {
	margin: 0;
	padding: 0;
	color: #000;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}

.popup__person {
}

.popup__annotation {
}

.popup_style_input {
  padding: 13px 2px;
  font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	border: 0;
  border-bottom: 1px solid #ccc;
}

.popup__submit {
  padding: 0;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  min-height: 50px;
  color: #fff;
  background-color: #000;
  transition: opacity 0.1s ease-in;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media  screen and (max-width: 900px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 360px);
  }
  .header__logo {
    margin: 0 20px;
  }
  .element__title {
    max-width: 300px;
  }
}

@media  screen and (max-width: 825px) {
  .element__title {
    max-width: 200px;
  }
  .profile {
    min-width: 320px;
  }
}
@media  screen and (max-width: 768px) {
  .container-widget {
    flex-direction: column;
  }
  .profile {
    margin-bottom: 20px;
  }
  .footer {
    padding: 48px 20px 36px 20px;
  }
}


@media  screen and (max-width: 685px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 360px);
  }
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
  .profile__annotation {
    text-align: center;
  }
  .profile__avatar {
    margin: 0 0 20px 0;
  }
  .element__title {
    max-width: 400px;
  }
  .add-button {
    width: 100%;
  }
}

@media  screen and (max-width: 540px) {
  .element__title {
    max-width: 250px;
  }
  .profile__person {
    font-size: 27px;
    line-height: 33px;
  }
  .profile__edit-button {
    top: 5px;
    right: -40px;
  }
  .profile__annotation {
    font-size: 14px;
    line-height: 17px;
  }
}

@media  screen and (max-width: 390px) {
  .element__title {
    max-width: 180px;
  }
}