.popup__container {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	width: 430px;
	height: 330px;
	padding: 36px;
	border-radius: 10px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 540px) {
	.popup__container {
		width: calc(100% - 2 * 20px);
		padding: 25px 22px;
		height: 320px;
	}
}
