.popup__form {
	box-sizing: border-box;
	padding: 36px;
	align-self: flex-end;
	border-radius: 10px;
	top: 195px;
	width: 430px;
	height: 330px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 3;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 540px) {
	.popup__form {
		width: 100%;
		margin-top: 16px;
		min-height: 320px;
		padding: 22px;
	}
}
