.profile__plus {
    display:inline-block;
    width:44px;
    height:44px;
    background:
      linear-gradient(#fff,#fff),
      linear-gradient(#fff,#fff);
    background-position:center;
    background-size: 50% 2px,2px 50%;
    background-repeat:no-repeat;
}

@media screen and (max-width: 685px) {
	.profile__plus {
        width:32px;
        height:32px;
	}
}