.profile__avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-image: url(../../../images/avatar.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	grid-area: profile__avatar;
}

@media screen and (max-width: 900px) {
	.profile__avatar {
		margin-bottom: 30px;
	}
}
