.profile__info {
	display: grid;
	grid-area: profile__info;
	grid-template-areas: 
	"profile__person profile__edit-button"
	"profile__about-me profile__about-me";
	grid-template-columns: minmax(300px, max-content);
	grid-template-rows: min-content;
	align-items: center;
	margin-left: 30px;
	max-width: 330px;
}

@media screen and (max-width: 900px) {
	.profile__info {
		margin: 0 0 36px 0;
		grid-template-areas: 
		"profile__person profile__edit-button"
		"profile__about-me profile__about-me";
		grid-template-columns: minmax(100px, max-content);

	}
}