.element__trash {
    position: absolute;
    border: 0;
    width: 18px;
    height: 19px;
    cursor: pointer;
    background: url(../../../images/element__trash.svg) center no-repeat;
    right: 20px;
    top: 20px;
}